.header {
  background-color: rgb(228, 67, 166);
  color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
}
.side-img {
  display: flex;
  justify-content: flex-start;
  margin-right: 30px;
}
.cover-img {
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
  height: 200px;
}

.trevel-container {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.card-trevel {
 
  /* height: 200px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 2rem;
 
}

p {
  font-size: 13px;
  color: #333;
  line-height: 1.2;
}

h3 {
  color: #333;
  font-size: 20px;
}

.trevel-countires {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dates {
  display: flex;
  width: 300px;
  justify-content: space-between;
  font-size: 20px;
}
.trevel-container span:first-child {
  color: #333;
  font-size: 20px;
}





/* .card-trevel > div {
  width: 60%;
} */
.card-trevel > div:not(:last-child) {
  margin-bottom: 2rem;
  /* border-bottom: 1px solid #eee; */
}